<a href="https://colab.research.google.com/github/aniruddhamodak/Python-Notes-For-Data-Science/blob/master/3_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions:
--
Function is a named sequence of statements that performs a computation.

In [0]:
# Type Conversion Functions
int('32') # convert str to int

32

In [0]:
int(3.88888)

3

In [0]:
int(-2.33)

-2

In [0]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [0]:
float(32)

32.0

In [0]:
float(12.7576)

12.7576

In [0]:
str(32)

'32'

Math Functions:
--
 Import module 'math' for this

In [0]:
# type your code here
import math
math.sin(90)

0.8939966636005579

In [0]:
# It is used with dot notations
# type your code here
a=2*math.tan(90)
print(a)

-3.990400824416484

In [0]:
# type your code here
import math as m
a = 2*m.tan(90)
print(a)

-3.990400824416484

In [0]:
print(m.sqrt(4)) 
print(m.ceil(5.1))
# type your code here
print(m.floor(5.1))
print(m.exp(3.0))
print(m.log(3))
# type your code here
print(m.log10(3))

print(m.pow(2,3))

2.0
6
5
20.085536923187668
1.0986122886681098
0.47712125471966244
8.0

In [0]:
m.sqrt(144)

12.0

In [0]:
# type your code here
from math import sqrt,sin,tanh
math.sqrt(100)

10.0

In [0]:
from math import *
math.sqrt(100)

10.0

Composition
--

>It is the ability to take small building blocks and compose them.

In [0]:
import math as m
# type your code here
m.sqrt(m.pow(m.sqrt(144),2))

12.0

In [0]:
m.sin(m.sinh(30))

-0.9992995815615756

User Defined Functions:
--

'def' keyword is used for this

In [0]:
# type your code here
def abc():
    print("Hi")
    print("Dr. Ingle")

x=2
y=3
z=x+y # 5
print(z)
abc()

5
Hi
Dr. Ingle

In [0]:
# type your code here
def xyz():
    print("In xyz")
    abc()
    print("Leaving xyz")

xyz()
print("Hi, I am Main")

In xyz
Hi
Dr. Ingle
Leaving xyz
Hi, I am Main

Parameter passing and Arguments:
--

In [0]:
def mno(a):
    print(a)

mno(233)
mno(33.5116)
# type your code here
mno("String")
mno(m.pi)

233
33.5116
String
3.141592653589793

In [0]:
def add(x,y):
    c=x+y
    print(c)


a=1
b=4
add(a,b)
print("EOP")

5
EOP

In [0]:
def mno(a):
    a = a**2
    return a
    

x = mno(5)
# type your code here
print(x)

25

In [0]:
# Modulus Operator
print(7/3)
print(7%3)
print(7//3)

2.3333333333333335
1
2

In [0]:
# Boolean Operator
print(5==5)
print('5==6')
print('Hi'=='Hi')
print('hi'=='Hi')
print(type(False))

True
5==6
True
False
<class 'bool'>

In [0]:
# Relational Operators
# > < >= <= == !=
a = 5>6
# type your code here

In [0]:
# Logical Operators
# and, or

# type your code here
print(177987 and True)

True

Variables and parameters are local.
--

In [0]:
def loc_var_ex(parta,partartb):
    new_var=parta+partartb
    print(new_var)

a="Darshan"
b="Ingle"
loc_var_ex(a,b)
# type your code here
print(new_var)

DarshanIngle

NameError: name 'new_var' is not defined

Taking input from the user
--

In [0]:
# type your code here
print("Enter a no:")
a=input()
print("a is ",a)

Enter a no:
59
a is  59

In [0]:

# type your code here
a=int(input("Enter 1st no: "))
b=int(input("Enter 2nd no: "))
c=a+b
print("Add is",c)

Enter 1st no: 50
Enter 2nd no: 49
Add is 99

In [0]:
type(c)

str

In [0]:
print("Enter two nos: ")
# type your code here



c=a+b
print("Add is: ",c)

Enter two nos:
Add is:  DarshanIngle

In [0]:
type(c)

In [0]:
print("Enter 1st nos: ")
a=int(input())
print("Enter 2nd nos: ")
b=int(input())
# type your code here


print("Add is: ",c)

In [0]:
# type your code here



c=a+b
print("Add is: ",c)

Add is:  3

Conditional execution
--

In [0]:
x=int(input())
if x>0:
    print(x)

0

In [0]:
x=int(input())
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")

89
89  is odd

In [0]:
x=2
if x<0:
    print(x)

In [0]:
# if statement
x = int(input())
if x>35:
    print(x,"is greater that 35")
else:
    print(x,"is less than or equal to 35")

40 is greater that 35

In [0]:
# Chained Conditionals
x = int(input())
if x>35:
    print(x,"is greater that 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [0]:
# Nested Conditionals
x = int(input())
if x>35:
    print(x,"is greater that 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

35 is equal to 35

In [0]:
# Nested Conditionals
x = 35
if x<35:
    if x==35:
        print(x,"is equal to 35")
    else:
        print(x,"is less than 35")
else:
    print(x,"is greater than 35")

35 is greater than 35

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [0]:
x=input()
if x=='a':
    print("x is: ",x)
elif x=='b':
    print("x is: ",x)

a
x is:  a

In [0]:
# Recu

5
4
3
2
1
Blast Off!!!!!

In [0]:
1+2

3

Arithmetic Operators

+ 
- 
* 
/ 
%
// -Floor Division 4//6 = 0
** Exponentiation 2**3 = 8

In [0]:
# Membership Operators
s = [1,2,3,4]
1 in s

True

In [0]:
# Membership Operators
s = [1,2,3,4]
1 not in s

False

Return Values
--

In [0]:
def area(radius):
    a=m.pi*radius*radius
    return a


# type your code here

Enter radius of circle: 5.7
102.07034531513239

In [0]:
import math as m
def area(radius):
    a=m.pi*radius*radius
    return a

# type your code here

Enter radius of circle: 2.4
Area of circle is:  18.09557368467721

In [0]:
# Boolean Functions
def is_divisible(x,y):
    if x%y==0:
        return True
    else:
        return False
# type your code here

is_divisible(6,2)

True

In [0]:
# Some more Rec

13

In [0]:
# Program to fing average of 3 numbers
def avg(n1, n2, n3):
    sum = n1+n2+n3
    print(sum/3)

# type your code here
avg(10,20,30)
avg(1,2,3)

20.0
2.0

In [0]:
def avg(n1=2, n2=1, n3=0):
    sum = n1+n2+n3
    print(sum/3)

# type your code here

avg(10,20)
avg()
avg(55)
avg(n1=3,n3=4)

10.0
1.0
18.666666666666668
2.6666666666666665