<a href="https://colab.research.google.com/github/aniruddhamodak/Python-Notes-For-Data-Science/blob/master/5_Lists_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [0]:
# empty list
st = []
print(st)

[]

In [0]:
st = [1,2,3,4,'Darshan']
print(st)

[1, 2, 3, 4, 'Darshan']

In [0]:
st = [1,22.33,"Machine"]
print(st)
print(type(st))

[1, 22.33, 'Machine']
<class 'list'>

In [0]:
st = ['A','B','C','D','E']
print(st[0])
print(st[3])
print(st[-1])
print('A' in st)
print('AB' in st)

A
D
E
True
False

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [0]:
st = ['A','B','C','D','E']
print(st)
st[0] = 'X'
print(st)

['A', 'B', 'C', 'D', 'E']
['X', 'B', 'C', 'D', 'E']

In [0]:
"A" in st

False

In [0]:
# List of lists
l=[1,2,[100,200,['A','Z'],300],3,4,5]
print(l)
print(l[2])
# [53]
print((l[2][2][1]))

[1, 2, [100, 200, ['A', 'Z'], 300], 3, 4, 5]
[100, 200, ['A', 'Z'], 300]
Z

In [0]:
l=[1,2,3,4,5]
print(l)
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [0]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [0]:
l=[1,2,3,4,5]
print(l)
# [56]
del l[1]


print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

Traversing a list
--

In [0]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in names:
    print(i)

Darshan
Python Trainer
Deep Learning Trainer
ML Trainer

In [0]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
s.pop()

44

In [0]:
print(s)

[1, 2, 3, 4, 5, 6, 7, 55]

In [0]:
#  13
s.pop(4)
print(s)

[3, 4, 5, 6]

In [0]:
s

In [0]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

In [0]:
# + concatenates list
l1=[1,2,3]
l2=[2,3,4]
l1+l2

[1, 2, 3, 2, 3, 4]

In [0]:
# * means repetition
[0]*4

[0, 0, 0, 0]

In [0]:
[1,2,3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [0]:
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [0]:
# empty tuple
t = ()
print(t)

()

In [0]:
t = (1.0)
print(t)
print(type(t))

1.0
<class 'float'>

In [0]:
# Single value tuple must use a comma
t = (1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [0]:
t = (1,2,33.4443,5,6)
print(t[1:3])
print(t[1:])
print(t[:4])
print(t[::-1])
print(t[-5:-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)
(1, 2, 33.4443, 5)

In [0]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [0]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [0]:
3 in t1

True

In [0]:
len(t1)

3

In [0]:
min(t1)

1

Tuples can be used to return more than one return values.
--

In [0]:
def feed(topel):
    f1=topel+1
    f2=topel-5
    return f1,f2
z=feed(2)
print(z)
print(type(z))

(3, -3)
<class 'tuple'>

In [0]:
# *args can accept any number of arguments
# in the form of tuple
def var(*args):
    print(args)

var([1,2,3],(4,5),76)
var(1,2)
var(1,3,2,1,4,3,43)

([1, 2, 3], (4, 5), 76)
(1, 2)
(1, 3, 2, 1, 4, 3, 43)

In [0]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)