<a href="https://colab.research.google.com/github/aniruddhamodak/Python-Notes-For-Data-Science/blob/master/7_Sets_and_Arrays_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A set is a collection which is unordered and unindexed. 
--

In Python sets are written with curly brackets.
--

In [3]:
s={"apple", "banana", "cherry"}
print(s)
# print(s[0]) This will give error. It is a set and does  not support indexing.

{'apple', 'banana', 'cherry'}

In [0]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [0]:
# Check if "banana" is present in the set
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("orange" in thisset)

True
False

In [0]:
# Once a set is created, you cannot change its items, but you can add new items.

# Add Items
# To add one item to a set use the add() method.

# To add more than one item to a set use the update() method.

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [0]:
# Add multiple items to a set, using the update() method:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'mango', 'apple', 'grapes', 'banana', 'cherry'}

In [0]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

# [6]
len(thisset)

3

In [0]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

# [7]

thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

Join Two Sets
--
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [0]:
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

# [8]
set3 = set1.union(set2)

print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [0]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c",1}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

{'c', 1, 2, 3, 'b', 'a'}

In [0]:
set1 = {"a", "b" , "c",1}
set2 = {1, 2, 3}
# [2]
set1 | set2

{1, 2, 3, 'a', 'b', 'c'}

In [0]:
set1 = {"a", "b" , "c"}
set2 = {"a", 2, 3}
# [4]
set1 & set2

{'a'}

In [0]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

In [0]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# [11]
z = y-x
print(z)

{'google', 'microsoft'}

In [0]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y+x

print(z)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

Arrays in Python
--

>Arrays are one of the data structures that help you write a number of values into a single variable, thereby reducing the burden of memorizing an enormous number of variables. 

>Array in Python can be created by importing array module. 

>array(data_type, value_list) is used to create an array with data type and value list specified in its arguments.

In [0]:
import array as arr 
  
# creating an array with integer type 
a = arr.array('i', [1, 2, 3]) 
a

array('i', [1, 2, 3])

In [0]:
import array as arr 
  
# creating an array with integer type 
a = arr.array('i', [1, 2, 3,55,21]) 
for i in a:
    print(i)

1
2
3
55
21

In [0]:
# printing original array 
# print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
    print (a[i],end="\t") 
print()

1	2	3

In [0]:
# creating an array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 
  
# printing original array 
print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
    print (b[i], end =" ")

The new created array is :  2.5 3.2 3.3

Type code --	Python Data Type --	Byte size
i               	int	               2
I	                int	               2
u	            unicode character	   2
h	                int	               2
H	                int	               2
l	                int	               4
L	                int	               4
f	                float	           4
d	                float	           8

Is Python list same as an Array?
--

The ‘array’ data structure in core python is not very efficient or reliable. Therefore, when we talk about python arrays, we usually mean python lists.

However, python does provide Numpy Arrays which are a grid of values used in Data Science. You can look into Numpy Arrays vs Lists to know more.

In [0]:
# Python program to demonstrate  
# Adding Elements to a Array 
  
# importing "array" for array creations 
import array as arr 
  
# array with int type 
a = arr.array('i', [1, 2, 3]) 
  
  
print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
    print (a[i], end =" ") 
print() 
  
# inserting array using  
# insert() function 
a.insert(1, 4) 
  
print ("Array after insertion : ", end =" ") 
for i in (a): 
    print (i, end =" ") 
print()

Array before insertion :  1 2 3
Array after insertion :  1 4 2 3

In [0]:
# array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 
  
print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
    print (b[i], end =" ") 
print() 
  
# adding an element using append() 
b.append(4.4) 
  
print ("Array after insertion : ", end =" ") 
for i in (b): 
    print (i, end =" ") 
print()

Array before insertion :  2.5 3.2 3.3
Array after insertion :  2.5 3.2 3.3 4.4

Accessing elements from the Array
--

>In order to access the array items refer to the index number. 

>Use the index operator [ ] to access an item in a array. The index must be an integer.

In [0]:
# importing array module 
import array as arr 
  
# array with int type 
a = arr.array('i', [1, 2, 3, 4, 5, 6]) 
  
# accessing element of array 
print("Access element is: ", a[0]) 
  
# accessing element of array 
print("Access element is: ", a[3]) 
  
# array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 
  
# accessing element of array 
print("Access element is: ", b[1]) 
  
# accessing element of array 
print("Access element is: ", b[2])

Access element is:  1
Access element is:  4
Access element is:  3.2
Access element is:  3.3

Removing Elements from the Array
--

Elements can be removed from the array by using built-in remove() function but an Error arises if element doesn’t exist in the set. 

Remove() method only removes one element at a time, to remove range of elements, iterator is used. 

pop() function can also be used to remove and return an element from the array, but by default it removes only the last element of the array, to remove element from a specific position of the array, index of the element is passed as an argument to the pop() method.

__Note – Remove method in List will only remove the first occurrence of the searched element.__

In [0]:
import array 
   
# initializing array with array values 
# initializes array with signed integers 
arr = array.array('i', [1, 2, 3, 1, 5])  
  
# printing original array 
print ("The new created array is : ", end ="") 
for i in range (0, 5): 
    print (arr[i], end =" ") 
  
print ("\r") 
  
# using pop() to remove element at 2nd position 
print ("The popped element is : ", end ="") 
print (arr.pop(2)) 
  
# printing array after popping 
print ("The array after popping is : ", end ="") 
for i in range (0, 4): 
    print (arr[i], end =" ") 
  
print("\r") 
  
# using remove() to remove 1st occurrence of 1 
arr.remove(1) 
  
# printing array after removing 
print ("The array after removing is : ", end ="") 
for i in range (0, 3): 
    print (arr[i], end =" ")

The new created array is : 1 2 3 1 5
The popped element is : 3
The array after popping is : 1 2 1 5
The array after removing is : 2 1 5

In [0]:
# Slicing of a Array
import array as arr 
  
# creating a list  
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
  
a = arr.array('i', l) 
print("Intial Array: ") 
for i in (a): 
    print(i, end =" ") 
print()
print(a[3:8])
print(a[5:])
print(a[:])

Intial Array:
1 2 3 4 5 6 7 8 9 10
array('i', [4, 5, 6, 7, 8])
array('i', [6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

Searching element in a Array
--
In order to search an element in the array we use a python in-built index() method. 

This function returns the index of the first occurrence of value mentioned in arguments.

In [0]:
arr = array.array('i', [1, 2, 3, 1, 2, 5])  
  
# printing original array 
print ("The new created array is : ", end ="") 
for i in range (0, 6): 
    print (arr[i], end =" ") 

print()
print (arr.index(2)) # gives index of number 2
  
print (arr.index(1))

The new created array is : 1 2 3 1 2 5
1
0

Updating Elements in a Array
--

In [0]:
arr = array.array('i', [1, 2, 3, 1, 2, 5])  
  
# printing original array 
print ("Array before updation : ", end ="") 
for i in range (0, 6): 
    print (arr[i], end =" ") 
  
print ("\n") 
  
# updating a element in a array 
arr[2] = 6
print("Array after updation : ", end ="") 
for i in range (0, 6): 
    print (arr[i], end =" ") 
print() 
  
# updating a element in a array 
arr[4] = 8
print("Array after updation : ", end ="") 
for i in range (0, 6): 
    print (arr[i], end =" ")

Array before updation : 1 2 3 1 2 5

Array after updation : 1 2 6 1 2 5
Array after updation : 1 2 6 1 8 5